@import url('https://fonts.googleapis.com/css?family=Rubik');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    overflow-y: hidden;
    transition: background-color 300ms ease-in-out;
}

* {
    -webkit-user-select: none;
    user-select: none;
}

.title {
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 40px 0;
    letter-spacing: 0.15em;
}

.text {
    color: rgb(50,50,50);
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 32px 0;
    letter-spacing: 0.15em;   
}

.new-game, .won-game {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
}

.new-game > .text,
.won-game > .text {
    height: 112px;
    box-sizing: border-box;
    margin-top: auto;
    margin-bottom: auto;
}

.won-game > .text:first-child {
    margin-bottom: 0;
}

.blue .won-game > .text:first-child {
    background-color: #20A0FF;
}

.red .won-game > .text:first-child {
    background-color: #FF4949;
}

.turn-indicator {
    opacity: 1;
    padding-bottom: 16px;
    transition: opacity 250ms ease-in-out;
}

.turn-indicator.hidden {
    opacity: 0;
}

.copyright {
    padding-top: 22px;
    opacity: 0.3;
}

.small-text {
    color: black;
    font-size: 16px;
    text-align: center;
    width: 100%;
    letter-spacing: 0.05em;
}

.container {
    position: relative;
    margin: auto;
    width: 520px;
    height: 520px;
    background-color: #E5E9F2;
    border-radius: 20px;
    box-shadow: 0 6px 0 0 #D3DCE6, 0 15px 35px rgba(0,0,0,.03), 0 5px 15px rgba(0,0,0,.06);
}

.board {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.row {
    position: relative;

    height: 130px;
    width: 520px;
}

.tile {
    position: absolute;
    top: 0;
    display: inline-block;

    margin: 10px;
    height: 110px;
    width: 110px;
    border-radius: 100%;
    background-color: #D3DCE6;
    box-shadow: inset 0 -2px 0 0 #8492A6;
        transition: box-shadow 150ms ease-in-out;
}

.tile.highlight-blue {
    box-shadow: inset 0 0 0 6px #20A0FF;
}

.tile.highlight-red {
    box-shadow: inset 0 0 0 6px #FF4949;
}

.tile.t1 {
    left: 0;
}

.tile.t2 {
    left: 130px;
}

.tile.t3 {
    left: 260px;
}

.tile.t4 {
    left: 390px;
}

.game {
    height: 520px;
    width: 520px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.disk {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;

    margin: 10px;
    height: 110px;
    width: 110px;
    border-radius: 100%;
    will-change: transform;
    box-shadow: inset 0 2px 0 0 rgba(255,255,255,0.2), 0 3px 10px rgba(0,0,0,0);
    transition: box-shadow 150ms ease-in-out;
}

.disk.hover {
    z-index: 30;
    box-shadow: inset 0 2px 0 0 rgba(255,255,255,0.2), 0 5px 15px rgba(0,0,0,0.15);
}

.blue {
    background-color: #20A0FF;
}

.red {
    background-color: #FF4949;
}

.overlay {
    position: relative;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-color: #E5E9F2;
    z-index: 40;
    opacity: 0.6;
    transition: opacity 400ms ease-in-out, z-index 450ms ease-in-out;
}

.overlay > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overlay .btn {
    transition: filter 450ms ease-out;
    filter: blur(0px);
}

.overlay.hidden .btn {
    filter: blur(15px);
}

.overlay.hidden, .overlay > .hidden {
    opacity: 0;
    z-index: -1;
}